<!DOCTYPE html>
<html>
<head>
	<title>Chemical Element Information</title>
</head>
<body>
	<h1>Chemical Element Information</h1>

	<label for="atomic_number">Enter Atomic Number:</label>
	<input type="number" id="atomic_number" name="atomic_number" min="1" max="118">
	<br><br>

	<label for="element_number">Element Number:</label>
	<span id="element_number"></span>
	<br><br>

	<label for="element_symbol">Element Symbol:</label>
	<span id="element_symbol"></span>
	<br><br>

	<label for="element_name">Element Name:</label>
	<span id="element_name"></span>
	<br><br>

	<label for="element_mass">Element Mass:</label>
	<span id="element_mass"></span>
	<br><br>

	<label for="element_density">Element Density:</label>
	<span id="element_density"></span>
	<br><br>


</body>
</html>
